{{define "index/index.html"}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "meta.html" .}}

    <title>Bmtdblog - xiuivfbc</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/blog-home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/modern-theme.css">

    <!-- 添加现代化图标库 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>

    {{template "navigation.html" .}}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <!--<h1 class="page-header">
                Page Heading
                <small>Secondary Text</small>
            </h1>-->

                <section class="article">
                    <!-- Blog Posts -->
                    {{range $postkey,$postvalue:=.posts}}
                    <article class="post-card" data-aos="fade-up" data-aos-delay="{{multiply $postkey 100}}">
                        <div class="articleInfo">
                            <div class="post-header">
                                <h2><a class="articleTitle" href="/post/{{$postvalue.ID}}">
                                        <i class="fas fa-bookmark" style="margin-right: 8px; opacity: 0.8;"></i>
                                        {{$length := length $postvalue.Title}}
                                        {{if ge $length 40}}
                                        {{truncate $postvalue.Title 40}}...
                                        {{else}}
                                        {{$postvalue.Title}}
                                        {{end}}
                                    </a></h2>
                                <div class="post-meta">
                                    <span class="createdTime">
                                        <i class="fas fa-calendar-alt" style="margin-right: 5px;"></i>
                                        {{dateFormat $postvalue.CreatedAt "06-01-02 15:04"}}
                                    </span>
                                    <span class="post-stats" style="margin-left: 20px; opacity: 0.8;">
                                        <i class="fas fa-eye" style="margin-right: 5px;"></i>{{$postvalue.View}}
                                        <i class="fas fa-comment"
                                            style="margin-left: 15px; margin-right: 5px;"></i>{{$postvalue.CommentTotal}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="articleBody">
                            <div class="post-excerpt">
                                {{$length := length $postvalue.Body}}
                                {{if ge $length 100}}
                                {{truncate $postvalue.Body 100}}...
                                {{else}}
                                {{$postvalue.Body}}
                                {{end}}
                            </div>
                            <a href="/post/{{$postvalue.ID}}" class="read-more">
                                阅读全文 <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>

                        <!-- Article tags -->
                        <div class="post-tags">
                            {{range $tagkey,$tagvalue:=$postvalue.Tags}}
                            <a href="/tag/{{$tagvalue.ID}}" class="changeTag">
                                <i class="fas fa-tag" style="margin-right: 4px;"></i>{{$tagvalue.Name}}
                            </a>
                            {{end}}
                        </div>

                        <hr class="post-divider">
                    </article>
                    {{end}}
                </section>

                <!-- Pager
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>-->

                {{if le .pageIndex .totalPage}}
                <ul class="pager">
                    {{if le .pageIndex 1}}
                    <li class="disabled"><a href="#">上一页</a></li>
                    {{else}}
                    <li class=""><a href="{{.path}}?page={{minus .pageIndex 1}}">上一页</a></li>
                    {{end}}
                    <li>{{ .pageIndex }}/ {{ .totalPage }}</li>
                    {{if lt .pageIndex .totalPage }}
                    <li class=""><a href="{{.path}}?page={{add .pageIndex 1}}">下一页</a></li>
                    {{ else}}
                    <li class="disabled"><a href="#">下一页</a></li>
                    {{end}}
                </ul>
                {{end}}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                {{/*
                <!-- Blog Search Well -->
                <div class="well">
                    <h5>文章搜索</h5>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
                */}}

                <!-- Blog Categories Well -->
                <div class="well sidebar-widget">
                    <h4><i class="fas fa-tags" style="margin-right: 8px; color: var(--primary-color);"></i> 文章标签</h4>
                    <div class="tags-cloud">
                        {{range $tagkey,$tagvalue:=.tags}}
                        <a href="/tag/{{$tagvalue.ID}}" class="tag-cloud-item">
                            {{$tagvalue.Name}}<span class="tag-count">({{$tagvalue.Total}})</span>
                        </a>
                        {{end}}
                    </div>
                </div>

                <!-- Archives Well -->
                <div class="well sidebar-widget">
                    <h4><i class="fas fa-archive" style="margin-right: 8px; color: var(--primary-color);"></i> 文章归档</h4>
                    <div class="archive-list">
                        {{range $archivekey,$archivevalue:=.archives}}
                        <div class="archive-item">
                            <a href="/archives/{{$archivevalue.Year}}/{{$archivevalue.Month}}" class="archive-link">
                                <i class="fas fa-calendar-alt" style="margin-right: 6px;"></i>
                                {{dateFormat $archivevalue.ArchiveDate "2006年01月"}}
                                <span class="archive-count">({{$archivevalue.Total}})</span>
                            </a>
                        </div>
                        {{end}}
                    </div>
                </div>

                <div class="well sidebar-widget">
                    <h4><i class="fas fa-fire" style="margin-right: 8px; color: var(--accent-color);"></i> 热门文章</h4>
                    <div class="popular-posts">
                        {{range $key,$post:=.maxReadPosts}}
                        <div class="popular-post-item">
                            <a href="/post/{{$post.ID}}" class="popular-post-link">
                                <div class="popular-post-title">{{$post.Title}}</div>
                                <div class="popular-post-views">
                                    <i class="fas fa-eye" style="margin-right: 4px;"></i>{{$post.View}} 次阅读
                                </div>
                            </a>
                        </div>
                        {{end}}
                    </div>
                </div>

                <div class="well sidebar-widget">
                    <h4><i class="fas fa-comments" style="margin-right: 8px; color: var(--secondary-color);"></i> 热议文章
                    </h4>
                    <div class="comment-posts">
                        {{range $key,$post:=.maxCommentPosts}}
                        <div class="comment-post-item">
                            <a href="/post/{{$post.ID}}" class="comment-post-link">
                                <div class="comment-post-title">{{$post.Title}}</div>
                                <div class="comment-post-count">
                                    <i class="fas fa-comment" style="margin-right: 4px;"></i>{{$post.CommentTotal}} 条评论
                                </div>
                            </a>
                        </div>
                        {{end}}
                    </div>
                </div>

                <div class="well sidebar-widget">
                    <h4><i class="fas fa-link" style="margin-right: 8px; color: var(--primary-color);"></i> 友情链接</h4>
                    <div class="friend-links">
                        {{range .links}}
                        <a href="/link/{{.ID}}" target="_blank" title="{{.Url}}" class="friend-link">
                            <i class="fas fa-external-link-alt" style="margin-right: 5px;"></i>{{.Name}}
                        </a>
                        {{end}}
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        {{template "footer.html"}}

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/libs/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- 现代化主题交互脚本 -->
    <script src="/static/js/modern-theme.js"></script>

    <!-- 现代化交互增强 -->
    <script>
        $(document).ready(function () {
            // 页面加载动画
            $('.post-card').each(function (index) {
                $(this).css('animation-delay', (index * 0.1) + 's');
            });

            // 平滑滚动
            $('a[href^="#"]').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top - 70
                    }, 800);
                }
            });

            // 回到顶部按钮
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });

            $('#back-to-top').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });

            // 卡片悬停效果
            $('.post-card').hover(function () {
                $(this).find('.articleInfo').css('transform', 'translateY(-5px)');
            }, function () {
                $(this).find('.articleInfo').css('transform', 'translateY(0)');
            });

            // 导航栏滚动效果
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('.navbar').addClass('navbar-scrolled');
                } else {
                    $('.navbar').removeClass('navbar-scrolled');
                }
            });
        });
    </script>

    <!-- 添加回到顶部按钮 -->
    <a href="#" id="back-to-top" class="back-to-top" style="display: none;">
        <i class="fas fa-chevron-up"></i>
    </a>

</body>

</html>
{{end}}