version: "3.8"
services:
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: "http://es:9200"
    ports:
      - 5601:5601
    depends_on:
      - es

volumes:
  esdata:
